
@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper::-webkit-scrollbar{
    margin-top: 20px;
    height:8px
}

.wrapper::-webkit-scrollbar-track{
    background: gray;
    border-radius: 100vw;
    margin-block: .5em;
}


.wrapper::-webkit-scrollbar-thumb{
    background:rgb(223, 232, 205);
    border-radius: 100vw;
}

